body {
	background-color: #000000;
	color: #FFFFFF;
	font: 28px Arial;
	margin: 0 auto;
	padding: 0;
	position: relative;
	transform: translate(0%, 30%);
}
html {
  text-align: center;
  position: relative;
}
div.container {
      border: 2px solid #840808;
      padding: 6px;
      width: 600px;
      margin:20px auto;
      text-align:center;
      color: #ffffff;
}
button {
	  background-color: #000000;
      color: white;
      padding: 6px 15px;
      margin: 8px 0;
      width: 25%;
      border: 2px solid #840808;
}