body {
	background: #DCDDDF url(https://secure.meetupstatic.com/photos/theme_body/9/3/5/0/preview_7117712.jpeg);
	color: #FFFFFF;
	font: 28px Arial;
	margin: 0 auto;
	padding: 0;
	position: relative;
	transform: translate(0%, 30%);
}
html {
  text-align: center;
  position: relative;
}
