body {
	background: #DCDDDF url(https://allthepics.net/content/images/system/home_cover_1501280684529_da68e3.jpg);
	color: #FFFFFF;
	font: 28px Arial;
	margin: 0 auto;
	padding: 0;
	position: relative;
	transform: translate(0%, 30%);
}
html {
  text-align: center;
  position: relative;
}
